@import '../../styles/base';

@keyframes image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.browsePokemonWrapper {
  @include container;
  box-sizing: border-box;
  padding: 2rem;

  .header {
    .title {
      @include contentHeader1;
    }

    .subtitle {
      @include body;
      margin-top: 1rem;
    }
  }

  .pokemonList {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;

    @include apply-at-md-size {
      grid-template-columns: repeat(auto-fit, minmax(30.33%, 1fr));
    }

    @include apply-at-xl-size {
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    }
  }

  .loadMore {
    @include directionX;
    justify-content: left;

    .loadBtn {
      @include directionY;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 1rem;
      height: fit-content;
      @include ripple($color-cultured, $color-white);

      div {
        @include directionX;
        margin-bottom: 1rem;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    .loading div img {
      animation: image-spin infinite 0.8s linear;
    }
  }
}
