@import '../../styles/base';

.itemWrapper {
  @include directionY;
  @include shadow-1;
  background-color: $color-white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: fit-content;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 1.5rem;

  img {
    width: 32px;
    height: 32px;
    transition: width 0.2s, height 0.2s;
  }
}

.selected {
  img {
    width: 45px;
    height: 45px;
    transition: width 0.2s, height 0.2s;

    @include apply-at-xl-size {
      width: 64px;
      height: 64px;
    }
  }
}
