@import '../../styles/base';

.primary {
  @include btn;
  color: $color-white;
  background-color: $color-red;

  @include ripple($color-red-corsa, $color-red);
}

.secondary {
  @include btn;
  color: $color-black;
  padding: 0.8rem 2rem;
  border: 2px solid $color-red;
  background-color: $color-white;

  @include ripple($color-cultured, $color-white);
}

.disabled {
  background-color: $color-cadet-grey;
  color: $color-black;
  opacity: 0.65;
  cursor: not-allowed;

  @include ripple($color-cadet-grey, $color-cadet-grey);
}
