@import '../../styles/base';

.inputWithIcon {
  position: relative;

  input {
    @include body;
    width: 100%;
    outline: none;
    padding: 1rem;
    transition: 0.3s;
    padding-left: 40px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: 2px solid $color-dark-grey;

    &:focus {
      @include shadow-1;
      color: $color-black;
      border-color: $color-dark-grey;
    }
  }

  .inputIcon {
    position: absolute;
    left: 0;
    top: 0;
    padding: 9px 8px;
    transition: 0.3s;
  }
}
