@import '../../styles/base';

.leaderboardWrapper {
  @include container;
  box-sizing: border-box;
  padding: 2rem;

  .header {
    .title {
      @include contentHeader1;
    }

    .subtitle {
      @include body;
    }
  }

  .userWrapper {
    margin-top: 1.5rem;

    .username {
      @include contentHeader4;
    }

    .catchedPokemon {
      @include directionX;
      flex-wrap: wrap;
      margin-top: 1rem;
    }
  }

  .currentUser {
    background-color: $color-sky;
  }
}
